/* Paleta de colores
https://colorhunt.co/palette/212849
*/
:root {
  --dark: #1c2b2d;
  --blue: #1f6f8b;
  --greyblue: #99a8b2;
  --lightgrey: #EBEBEB;
  --creampink: #e6d5b8;
  --sand: #E6D5B8;
  --fontOne: 'Montserrat', sans-serif;
  --fontTwo: 'Open Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

/* BODY */
.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important; }

a:link, a:visited, a:active {
  text-decoration: none; }

/* NAV */
.navbar {
  background-color: var(--blue);
  padding: 1rem 1rem;
  font-family: var(--fontOne);
  font-size: 1rem; }

.nav-item {
  padding-right: 1rem;
  padding-left: 1rem; }

.nav-item :hover {
  color: var(--sand) !important; }

.logo {
  width: 60px;
  height: 60px; }

a.navbar-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: white; }

a.navbar-name :hover {
  color: var(--sand) !important; }

.nav-icon {
  padding-right: 1rem; }

/* HEAD */
section#head {
  margin-top: 6.5em;
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-image: url(../media/backgroundhead.png);
  background-position: center center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex: column;
  justify-content: center;
  align-items: flex-end; }

h1 {
  font-family: var(--fontOne);
  font-size: 5rem;
  font-weight: 800; }

.lead {
  font-family: var(--fontOne);
  font-weight: 600;
  font-style: italic;
  color: var(--greyblue); }

.btn.btn-secondary {
  background-color: var(--blue);
  border: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.btn.btn-secondary.btn-lg.badge-pill :hover {
  background-color: var(--sand);
  color: var(--blue); }

#head-scroll {
  padding-top: 1.5rem; }

/* ABOUT ME */
section#aboutMe {
  background-color: var(--lightgrey);
  padding: 1rem;
  margin-right: 0;
  margin-left: 0; }

h2 {
  font-weight: 500;
  font-style: italic;
  padding: 1rem;
  font-family: var(--fontOne); }

/* Also H2 for Portfolio and Contact */
/* PORTFOLIO */
section#portfolio {
  background-color: var(--creampink);
  padding: 1rem;
  margin-right: 0;
  margin-left: 0; }

.card-group {
  padding: 1rem;
  background-color: var(--creampink); }

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: var(--greyblue); }

/* CONTACT */
section#contact {
  background-color: var(--dark); }

/* FOOTER */
footer {
  background-color: #a3a3a3;
  height: 10vh; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

/* MEDIA QUERIES */
@media (max-width: 567px) {
  .logo {
    width: 50px;
    height: 50px; }
  section#head {
    margin-top: 3rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    height: 50vh;
    background-image: url(../media/laptop2.jpg); }
  h1 {
    font-size: 2rem; }
  .lead, #learnMore, .card-title {
    font-size: 1rem; }
  .card-title {
    font-weight: bold; }
  h2 {
    font-size: 1.5rem; }
  .navbar, #section-me, .card-text, #card-button, #form-button {
    font-size: .75rem; } }

@media (max-width: 768px) {
  h1 {
    font-size: 3rem; }
  .lead {
    font-size: 2rem; }
  .card-title {
    font-size: 1rem;
    font-weight: bold; }
  h2 {
    font-size: 2rem; }
  .navbar, #section-me, .card-text, #card-button, #form-button {
    font-size: .9rem; } }

@media (max-width: 992px) {
  .card-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .card {
    margin: 1rem 0; } }
